<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if request.path == "/" %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= stylesheet_link_tag 'wechat', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= content_for?(:title) ? yield(:title) : '四川网信办投票' %></title>
  </head>

  <body>
    <div class="container"><%= notice_message %></div>
    <%= yield %>
  </body>
</html>
